<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.mapper.UserMapper">
    <sql id="base_column_list">
        id, nickname, phone, password, salt, head, register_date, last_login_date, login_count
    </sql>

    <select id="getUserByPhone" resultType="com.hjh.pojo.User">
        select * from user where phone = ${phone}
    </select>
</mapper>
